<%= form_for @device do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label :serial %><br />
    <%= f.text_field :serial %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label 'Client' %><br />
    <%= f.collection_select(:client_id, Client.all, :id, :name) %>
  </p>
  <p><%= f.submit %></p>
<% end %>
