<h1>Notification Controls</h1>

<p>Values in this table specify how often, in hours, the person(s) in the "Who" column should be notified for each of the conditions.</p>
<p>Click on the Device Name to see all alerts for that device. Click on the Device Serail number to edit settings for that device.</p>

<table class="list">
  <tr>
    <th></th>
    <th>Device Name</th>
    <th>Who</th>
    <th>Jam</th>
    <th>Toner<br />Low</th>
    <th>Toner<br />Empty</th>
    <th>Paper</th>
    <th>Service</th>
    <th>Maint.</th>
    <th>Waste<br />Almost Full</th>
    <th>Waste<br />Full</th>
    <th>Job Log<br />Full</th>
  </tr>
  <%= form_tag batch_edit_notify_controls_url, :method => :get do %>
  <% for n in @notify_controls %>
    <tr class="<%=cycle('dark','light')%>">
      <% device_query_string = "?model_q=#{n.device_model}&serial_q=#{n.device_serial}&commit=Find" %>
      <td><%= check_box_tag "sel[#{n.id}]", n.id %>
      <td>
        <% if n.alerts.empty? %>
          &lt;no device&gt;
        <% else %>
          <%= link_to h(n.device_name), alerts_path + "?name_q=#{n.device_name}&commit=Find", :title => "Click to view all alerts for this device" %>
        <% end %>
      </td>
      <td><%=h n.who %></td>
      <td>
        <% unless n.jam_sent.nil? %>
        <%= link_to n.jam.to_s, alerts_path + device_query_string +  "&date_q=#{n.jam_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.jam_sent.to_formatted_s(:db)}" %>
        <% else %>
          <span><%=h n.jam %></span>
        <% end %>
      </td>
      <td>
        <% unless n.toner_low_sent.nil? %>
          <%= link_to n.toner_low.to_s, alerts_path + device_query_string + "&date_q=#{n.toner_low_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.toner_low_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.toner_low %></span>
        <% end %>
      </td>
      <td>
        <% unless n.toner_empty_sent.nil? %>
          <%= link_to n.toner_empty.to_s, alerts_path + device_query_string + "&date_q=#{n.toner_empty_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.toner_empty_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.toner_empty %></span>
        <% end %>
      </td>
      <td>
        <% unless n.paper_sent.nil? %>
          <%= link_to n.paper.to_s, alerts_path + device_query_string + "&date_q=#{n.paper_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.paper_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.paper %></span>
        <% end %>
      </td>
      <td>
        <% unless n.service_sent.nil? %>
          <%= link_to n.service.to_s, alerts_path + device_query_string + "&date_q=#{n.service_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.service_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.service %></span>
        <% end %>
      </td>
      <td>
        <% unless n.pm_sent.nil? %>
          <%= link_to n.pm.to_s, alerts_path + device_query_string + "&date_q=#{n.pm_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.pm_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.pm %></span>
        <% end %>
      </td>
      <td>
        <% unless n.waste_almost_full_sent.nil? %>
          <%= link_to n.waste_almost_full.to_s, alerts_path + device_query_string + "&date_q=#{n.waste_almost_full_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.waste_almost_full_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.waste_almost_full %></span>
        <% end %>
      </td>
      <td>
        <% unless n.waste_full_sent.nil? %>
          <%= link_to n.waste_full.to_s, alerts_path + device_query_string + "&date_q=#{n.waste_full_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.waste_full_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.waste_full %></span>
        <% end %>
      </td>
      <td>
        <% unless n.job_log_full_sent.nil? %>
          <%= link_to n.job_log_full.to_s, alerts_path + device_query_string + "&date_q=#{n.job_log_full_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.job_log_full_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.job_log_full %></span>
        <% end %>
      </td>
      <td><%= link_to 'Edit', edit_notify_control_path(n), :title => "Click to edit controls for this device" %></td>
    </tr>
  <% end %>
  <%= submit_tag "Batch Edit Selected" %>
  <% end %>
</table>

<p><%= will_paginate @notify_controls %></p>
