<h1>Notification Controls</h1>

<p>Values in this table specify how often, in hours, the person(s) in the "Tech" and "Local Admin" columns should be notified for each of the conditions. Techs are notified of Maintenance and Service alerts while Local Admins are notified of all others.</p>
<p>Click on the Device Name to see all alerts for that device.</p>

<table class="list">
  <tr class='searchform'>
  <%= form_tag '/notify_controls', :method => 'get' do -%>
      <td>&nbsp;</td>
      <td><%= text_field_tag 'name_q', @name_q, :size => 10, :placeholder => "Device Name" -%></td>
      <td><%= text_field_tag 'tech_q', @tech_q, :size => 10, :placeholder => "Tech email" -%></td>
      <td><%= text_field_tag 'local_q', @local_q, :size => 10, :placeholder => "Local admin email" -%></td>
      <td><%= text_field_tag 'toner_q', @tech_q, :size => 10, :placeholder => "Toner email" -%></td>
      <td><%= text_field_tag 'client_q', @client_q, :size => 10, :placeholder => "Search Client" -%></td>
      <td colspan=9><%= submit_tag 'Filter' -%></td>
    <%end%>  
  </tr>
  <tr>
    <th></th>
    <th>Device Name</th>
    <th>Tech Email</th>
    <th>Local Admin</th>
    <th>Toner Email</th>
    <th>Client</th>
    <th>Misfeed</th>
    <th>Paper<br />Out</th>
    <th>Toner<br />Low</th>
    <th>Toner<br />Empty</th>
    <th>Waste<br />Almost Full</th>
    <th>Waste<br />Full</th>
    <th>Service</th>
    <th>Maint.</th>
<!--     <th>Job Log<br />Full</th> -->
  </tr>
  <%= form_tag batch_edit_notify_controls_url, :method => :get do %>
  <% for n in @notify_controls %>
    <tr class="<%=cycle('dark','light')%>">
      <% device_query_string = "?model_q=#{n.device.model}&serial_q=#{n.device.serial}&commit=Find" %>
      <td><%= check_box_tag "sel[#{n.id}]", n.id %></td>
      <td>
        <% if n.device.name.nil? %>
          &lt;no device&gt;
        <% else %>
          <%= link_to h(n.device.name), alerts_path + "?name_q=#{n.device.name}&commit=Find", :title => "Click to view all alerts for this device" %>
        <% end %>
      </td>
      <td><span title="<%=h n.tech -%>"><%=h truncate(n.tech, :length => 15) -%></span></td>
      <td><span title="<%=h n.local_admin -%>"><%=h truncate(n.local_admin, :length => 15) -%></span></td>
      <td><span title="<%=h n.toner_admin -%>"><%=h truncate(n.toner_admin, :length => 15) -%></span></td>
      <td><%= n.device.client.nil? ? link_to('Please edit controls', edit_notify_control_path(n)) : n.device.client.name -%></td>
      <td>
        <% unless n.jam_sent.nil? %>
          <%= link_to n.jam.to_s, alerts_path + device_query_string +  "&date_q=#{n.jam_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.jam_sent.to_formatted_s(:db)}" %>
        <% else %>
          <span><%=h n.jam %></span>
        <% end %>
      </td>
      <td>
        <% unless n.paper_sent.nil? %>
          <%= link_to n.paper.to_s, alerts_path + device_query_string + "&date_q=#{n.paper_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.paper_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.paper %></span>
        <% end %>
      </td>
      <td>
        <% unless n.toner_low_sent.nil? %>
          <%= link_to n.toner_low.to_s, alerts_path + device_query_string + "&date_q=#{n.toner_low_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.toner_low_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.toner_low %></span>
        <% end %>
      </td>
      <td>
        <% unless n.toner_empty_sent.nil? %>
          <%= link_to n.toner_empty.to_s, alerts_path + device_query_string + "&date_q=#{n.toner_empty_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.toner_empty_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.toner_empty %></span>
        <% end %>
      </td>
      <td>
        <% unless n.waste_almost_full_sent.nil? %>
          <%= link_to n.waste_almost_full.to_s, alerts_path + device_query_string + "&date_q=#{n.waste_almost_full_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.waste_almost_full_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.waste_almost_full %></span>
        <% end %>
      </td>
      <td>
        <% unless n.waste_full_sent.nil? %>
          <%= link_to n.waste_full.to_s, alerts_path + device_query_string + "&date_q=#{n.waste_full_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.waste_full_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.waste_full %></span>
        <% end %>
      </td>
      <td>
        <% unless n.service_sent.nil? %>
          <%= link_to n.service.to_s, alerts_path + device_query_string + "&date_q=#{n.service_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.service_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.service %></span>
        <% end %>
      </td>
      <td>
        <% unless n.pm_sent.nil? %>
          <%= link_to n.pm.to_s, alerts_path + device_query_string + "&date_q=#{n.pm_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.pm_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.pm %></span>
        <% end %>
      </td>
<!--      <td>
        <% unless n.job_log_full_sent.nil? %>
          <%= link_to n.job_log_full.to_s, alerts_path + device_query_string + "&date_q=#{n.job_log_full_sent.to_formatted_s(:db)}", :title => "Last notice sent: #{n.job_log_full_sent.to_formatted_s(:db)}" -%>
        <% else %>
          <span><%=h n.job_log_full %></span>
        <% end %>
      </td>-->
      <td><%= link_to 'Edit', edit_notify_control_path(n), :title => "Click to edit controls for this device" %></td>
    </tr>
  <% end %>
  <%= submit_tag "Batch Edit Selected" %>
  <% end %>
</table>

<p><%= will_paginate @notify_controls, :class => :digg_pagination %></p>
