<% title "Notify Control" %>

<p>
  <strong>Device Serial:</strong>
  <%= @notify_control.device_serial %>
</p>
<p>
  <strong>Who:</strong>
  <%= @notify_control.who %>
</p>
<p>
  <strong>Jam:</strong>
  <%= @notify_control.jam %>
</p>
<p>
  <strong>Toner Low:</strong>
  <%= @notify_control.toner_low %>
</p>
<p>
  <strong>Toner Empty:</strong>
  <%= @notify_control.toner_empty %>
</p>
<p>
  <strong>Paper:</strong>
  <%= @notify_control.paper %>
</p>
<p>
  <strong>Service:</strong>
  <%= @notify_control.service %>
</p>
<p>
  <strong>Pm:</strong>
  <%= @notify_control.pm %>
</p>
<p>
  <strong>Waste Almost Full:</strong>
  <%= @notify_control.waste_almost_full %>
</p>
<p>
  <strong>Waste Full:</strong>
  <%= @notify_control.waste_full %>
</p>
<p>
  <strong>Job Log Full:</strong>
  <%= @notify_control.job_log_full %>
</p>

<p>
  <%= link_to "Edit", edit_notify_control_path(@notify_control) %> |
  <%= link_to "Destroy", @notify_control, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", notify_controls_path %>
</p>
