<% title "Alerts" %>

<p>Please note that the <em>Alert Date</em> shown is the device's local time setting and, in fact, may not reflect reality at all.</p>
<table class="list">
  <tr class='searchform'>
    <%= form_tag '/alerts', :method => 'get' do -%>
    <%= hidden_field_tag 'sort', @sort %>
    <td><%= text_field_tag 'date_q', @date_q, :size => 10, :placeholder => "Search Date" -%></td>
      <td><%= text_field_tag 'name_q', @name_q, :size => 10, :placeholder => "Search Name" -%></td>
      <td><%= text_field_tag 'model_q', @model_q, :size => 10, :placeholder => "Search Model" -%></td>
      <td><%= text_field_tag 'serial_q', @serial_q, :size => 10, :placeholder => "Search Serial #" -%></td>
      <td><%= text_field_tag 'code_q', @code_q, :size => 10, :placeholder => "Search Device Code" -%></td>
      <td><%= collection_select :client, :name, Client.all, :name, :name, :include_blank => 'All' %></td>
      <td><%= text_field_tag 'msg_q', @msg_q, :placeholder => "Search message" -%>&nbsp;<%= submit_tag 'Find' -%> <%= submit_tag 'Export' -%></td>
    <%end%>  
  </tr>
  <tr>
    <th><%= link_to 'Alert Date', "/alerts?sort=alert_date&#{@request}", :title => "Sort by Date" -%></th>
    <th><%= link_to 'Device Name', "/alerts?sort=devices.name&#{@request}", :title => "Sort by Device Name" -%></th>
    <th><%= link_to 'Device Model', "/alerts?sort=devices.model&#{@request}", :title => "Sort by Model" -%></th>
    <th><%= link_to 'Device Serial', "/alerts?sort=devices.serial&#{@request}", :title => "Sort by Device Serial #" -%></th>
    <th><%= link_to 'Device Code', "/alerts?sort=devices.code&#{@request}", :title => "Sort by Device Code" -%></th>
    <th>Client</th>
    <th><%= link_to 'Alert Message', "/alerts?sort=alert_msg&#{@request}", :title => "Sort by message" -%></th>
  </tr>
  <% for alert in @alerts %>
    <% nc = Device.find_by_serial(alert.device.serial) %>
    <tr class="<%=cycle('dark','light')%>">
      <td><%= alert.alert_date.to_formatted_s(:db) %></td>
      <td><%= link_to alert.device.name, edit_device_path(alert.device), :title => "Click to edit device info" %></td>
      <td><%= link_to alert.device.model, edit_device_path(alert.device), :title => "Click to edit device info" %></td>
      <td><%= link_to alert.device.serial, edit_device_path(alert.device), :title => "Click to edit device info" %></td>
      <td><%= link_to alert.device.code, edit_device_path(alert.device), :title => "Click to edit device info" %></td>
      <td>
      <%= alert.device.client.nil? ? link_to("<Edit Device Info>", edit_device_path(alert.device)) : alert.device.client.name %>
      </td>
      <td><% if (alert.alert_msg =~ /Misfeed/ and not alert.jam_stat.nil?) %>
            <%= alert.alert_msg + " (Jam Code: #{alert.jam_stat.jam_code})" %>
          <% else %>
            <%= alert.alert_msg %>
          <% end %>
      </td>
      <td><% unless (alert.sheet_count.nil?) %>
            <%= link_to 'Detail', alert_path(alert), :title => 'Show counter data' %>
            <% if (!alert.jam_stat.nil? and alert.alert_msg =~ /misfeed/i) %>
              <%= link_to 'History', jam_history_report_path(alert.device_id, alert.jam_stat.jam_code) + "?days=30" %>
            <% end %>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= will_paginate @alerts, :class => :digg_pagination %></p>