<h1>Alerts</h1>
<table class="list">
  <tr>
    <th colspan=4>Statistics (Totals)</th>
  </tr>
  <tr>
    <th>Alerts</th>
    <th>Devices</th>
    <th>Service</th>
    <th>Maintenance</th>
  </tr>
  <tr class="right-justify">
    <td><%= number_with_delimiter(@num_alerts) -%></td>
    <td><%= number_with_delimiter(@num_devices) -%></td>
    <td><%= number_with_delimiter(@num_service) -%></td>
    <td><%= number_with_delimiter(@num_pm) -%></td>
  </tr>
</table>
<p>Please note that the <em>Alert Date</em> shown is in the device's local time zone rather than your time zone. Unfortunately, the email alerts to not include time zone information in the date/time string.</p>
<table class="list">
  <tr class='searchform'>
    <%= form_tag '/alerts', :method => 'get' do -%>
    <th class="right-justify"><%= link_to "Search:", "http://dev.mysql.com/doc/refman/5.5/en/regexp.html", {:title => "Click here for documentation on regular exressions you can use in these search fields"} -%></td>
      <td><%= text_field_tag 'name_q', @name_q, :size => 10 -%>&amp;&amp;</td>
      <td><%= text_field_tag 'model_q', @model_q, :size => 10 -%>&amp;&amp;</td>
      <td><%= text_field_tag 'serial_q', @serial_q, :size => 10 -%>&amp;&amp;</td>
      <td>&nbsp;</td>
      <td><%= text_field_tag 'msg_q', @msg_q -%>&nbsp;<%= submit_tag 'Find' -%></td>
    <%end%>  
  </tr>
  <tr>
    <th><%= link_to 'Alert Date', "/alerts?sort=alert_date&#{@request}" -%></th>
    <th><%= link_to 'Device Name', "/alerts?sort=device_name&#{@request}" -%></th>
    <th><%= link_to 'Device Model', "/alerts?sort=device_model&#{@request}" -%></th>
    <th><%= link_to 'Device Serial', "/alerts?sort=device_serial&#{@request}" -%></th>
    <th>Device Code</th>
    <th><%= link_to 'Alert Msg', "/alerts?sort=alert_msg&#{@request}" -%></th>
  </tr>
  <% for alert in @alerts %>
    <% nc = NotifyControl.find_by_device_serial(alert.device_serial) %>
    <tr class="<%=cycle('dark','light')%>">
      <td><%= alert.alert_date.to_formatted_s(:db) %></td>
      <td><%= alert.device_name %></td>
      <td><%= alert.device_model %></td>
      <td><%= link_to alert.device_serial, edit_notify_control_path(nc) %></td>
      <td><%= alert.device_code %></td>
      <td><%= alert.alert_msg %></td>
    </tr>
  <% end %>
</table>

<p><%= will_paginate @alerts %></p>
