<h1>Alert Summary</h1>

<table class='list'>
  <tr>
    <th colspan=4>By Alert Type</th>
  </tr>
  <tr>
    <th>Alert Type</th>
    <th>Count</th>
    <th>Latest received</th>
    <th>Latest sent</th>
  </tr>
  <tr class="<%= cycle('light','dark') -%>">
    <td><strong>Total</strong></td>
    <td class='right-justify'><%= number_with_delimiter(@num_alerts) -%></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="<%= cycle('light','dark') -%>">
    <td><strong>Total Devices</strong></td>
    <td class='right-justify'><%= number_with_delimiter(@num_devices) -%></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
  <tr class="<%= cycle('light','dark') -%>">
    <td><strong>Call for Service</strong></td>
    <td class='right-justify'><%= link_to number_with_delimiter(@num_service), "/alerts?msg_q=service&commit=Find" -%></td>
    <td>
      <% unless @last_service.nil? %>
      <%= @last_service.alert_date.to_formatted_s(:db) -%> from <%= link_to @last_service.notify_control.device_name, "/alerts?name_q=#{@last_service.notify_control.device_name}&msg_q=call for service&commit=Find" -%>
      <% end %>
    </td>
    <td>
      <% unless @service_sent.nil? or @service_sent.service_sent.nil? %>
      <%= @service_sent.service_sent.to_formatted_s(:db) -%> for <%= link_to @service_sent.device_name, "/alerts?name_q=#{@service_sent.device_name}&msg_q=call for service&commit=Find" -%>
      <% end %>
    </td>
  </tr>
  <tr class="<%= cycle('light','dark') -%>">
    <td><strong>Maintenance Required</strong></td>
    <td class='right-justify'><%= link_to number_with_delimiter(@num_pm), "/alerts?msg_q=maintenance&commit=Find" -%></td>
    <td>
      <% unless @last_pm.nil? %>
      <%= @last_pm.alert_date.to_formatted_s(:db) -%> from <%= link_to @last_pm.notify_control.device_name, "/alerts?name_q=#{@last_pm.notify_control.device_name}&msg_q=Maintenance&commit=Find" -%>
      <% end %>
    </td>
    <td>
      <% unless @pm_sent.nil? or @pm_sent.pm_sent.nil? %>
      <%= @pm_sent.pm_sent.to_formatted_s(:db) -%> for <%= link_to @pm_sent.device_name, "/alerts?name_q=#{@pm_sent.device_name}&msg_q=Maintenance&commit=Find" -%>
      <% end %>
    </td>
  </tr>
  <tr class="<%= cycle('light','dark') -%>">
    <td><strong>Misfeed</strong></td>
    <td class='right-justify'><%= link_to number_with_delimiter(@num_misfeed), "/alerts?msg_q=misfeed&commit=Find" -%></td>
    <td>
      <% unless @last_misfeed.nil? %>
      <%= @last_misfeed.alert_date.to_formatted_s(:db) -%> from <%= link_to @last_misfeed.notify_control.device_name, "/alerts?name_q=#{@last_misfeed.notify_control.device_name}&msg_q=Misfeed&commit=Find" -%>
      <% end %>
    </td>
    <td>
      <% unless @misfeed_sent.nil? or @misfeed_sent.jam_sent.nil? %>
      <%= @misfeed_sent.jam_sent.to_formatted_s(:db) -%> for <%= link_to @misfeed_sent.device_name, "/alerts?name_q=#{@misfeed_sent.device_name}&msg_q=Misfeed&commit=Find" -%>
      <% end %>
    </td>
  </tr>
  <tr class="<%= cycle('light','dark') -%>">
    <td><strong>Out of Paper</strong></td>
    <td class='right-justify'><%= link_to number_with_delimiter(@num_paper), "/alerts?msg_q=Load paper&commit=Find" -%></td>
    <td>
      <% unless @last_paper.nil? %>
      <%= @last_paper.alert_date.to_formatted_s(:db) -%> from <%= link_to @last_paper.notify_control.device_name, "/alerts?name_q=#{@last_paper.notify_control.device_name}&msg_q=Load paper&commit=Find" -%>
      <% end %>
    </td>
    <td>
      <% unless @paper_sent.nil? or @paper_sent.paper_sent.nil? %>
      <%= @paper_sent.paper_sent.to_formatted_s(:db) -%> for <%= link_to @paper_sent.device_name, "/alerts?name_q=#{@paper_sent.device_name}&msg_q=Load paper&commit=Find" -%>
      <% end %>
    </td>
  </tr>
  <tr class="<%= cycle('light','dark') -%>">
    <td><strong>Toner Low</strong></td>
    <td class='right-justify'><%= link_to number_with_delimiter(@num_toner_low), "/alerts?msg_q=Toner supply&commit=Find" -%></td>
    <td>
      <% unless @last_toner_low.nil? %>
      <%= @last_toner_low.alert_date.to_formatted_s(:db) -%> from <%= link_to @last_toner_low.notify_control.device_name, "/alerts?name_q=#{@last_toner_low.notify_control.device_name}&msg_q=Toner supply&commit=Find" -%>
      <% end %>
    </td>
    <td>
      <% unless @toner_low_sent.nil? or @toner_low_sent.toner_low_sent.nil? %>
      <%= @toner_low_sent.toner_low_sent.to_formatted_s(:db) -%> for <%= link_to @toner_low_sent.device_name, "/alerts?name_q=#{@toner_low_sent.device_name}&msg_q=Toner supply&commit=Find" -%>
      <% end %>
    </td>
  </tr>
  <tr class="<%= cycle('light','dark') -%>">
    <td><strong>Out of Toner</strong></td>
    <td class='right-justify'><%= link_to number_with_delimiter(@num_toner_out), "/alerts?msg_q=Add toner&commit=Find" -%></td>
    <td>
      <% unless @last_toner_out.nil? %>
      <%= @last_toner_out.alert_date.to_formatted_s(:db) -%> from <%= link_to @last_toner_out.notify_control.device_name, "/alerts?name_q=#{@last_toner_out.notify_control.device_name}&msg_q=Add toner&commit=Find" -%>
      <% end %>
    </td>
    <td>
      <% unless @toner_out_sent.nil? or @toner_out_sent.toner_empty_sent.nil? %>
      <%= @toner_out_sent.toner_empty_sent.to_formatted_s(:db) -%> for <%= link_to @toner_out_sent.device_name, "/alerts?name_q=#{@toner_out_sent.device_name}&msg_q=Add toner&commit=Find" -%>
      <% end %>
    </td>
  </tr>
  <tr class="<%= cycle('light','dark') -%>">
    <td><strong>Waste Toner Container Warnings</strong></td>
    <td class='right-justify'><%= link_to number_with_delimiter(@num_waste_warn), "/alerts?msg_q=Replacement&commit=Find" -%></td>
    <td>
      <% unless @last_waste_warn.nil? %>
      <%= @last_waste_warn.alert_date.to_formatted_s(:db) -%> from <%= link_to @last_waste_warn.notify_control.device_name, "/alerts?name_q=#{@last_waste_warn.notify_control.device_name}&msg_q=Replacement&commit=Find" -%>
      <% end %>
    </td>
    <td>
      <% unless @waste_warn_sent.nil? or @waste_warn_sent.waste_almost_full_sent.nil? %>
      <%= @waste_warn_sent.waste_almost_full_sent.to_formatted_s(:db) -%> for <%= link_to @waste_warn_sent.device_name, "/alerts?name_q=#{@waste_warn_sent.device_name}&msg_q=Replacement&commit=Find" -%>
      <% end %>
    </td>
  </tr>
  <tr class="<%= cycle('light','dark') -%>">
    <td><strong>Waste Toner Container Full</strong></td>
    <td class='right-justify'><%= link_to number_with_delimiter(@num_waste_full), "/alerts?msg_q=Replace Used Toner&commit=Find" -%></td>
    <td>
      <% unless @last_waste_full.nil? %>
      <%= @last_waste_full.alert_date.to_formatted_s(:db) -%> from <%= link_to @last_waste_full.notify_control.device_name, "/alerts?name_q=#{@last_waste_full.notify_control.device_name}&msg_q=Replace used toner&commit=Find" -%>
      <% end %>
    </td>
    <td>
      <% unless @waste_full_sent.nil? or @waste_full_sent.waste_full_sent.nil? %>
      <%= @waste_full_sent.waste_full_sent.to_formatted_s(:db) -%> for <%= link_to @waste_full_sent.device_name, "/alerts?name_q=#{@waste_full_sent.device_name}&msg_q=Replace used toner&commit=Find" -%>
      <% end %>
    </td>
  </tr>
</table>
<br />
<table class="list">
  <tr>
    <th colspan=9>Alerts by Device</th>
  </tr>
  <tr>
    <th>Device</th>
    <th>Misfeed</th>
    <th>Paper Out</th>
    <th>Toner Low</th>
    <th>Toner Out</th>
    <th>Waste Warn</th>
    <th>Waste Full</th>
    <th>Service</th>
    <th>Maintenance</th>
  </tr>
  <% @devices_by_name.each do |d| %>
  <%   key = "#{d.device_name}|#{d.device_model}|#{d.device_serial}" %>
  <tr class="<%= cycle('light','dark') -%>">
    <td><%= link_to h(d.device_name), alerts_path + "?name_q=#{d.device_name}&commit=Find", :title => "#{d.device_model}, #{d.device_serial}, #{d.device_code}" -%> (<%=h d.client.name %>)</td>
    <td class='right-justify'>
      <%= link_to_unless @misfeed[key].empty?, @misfeed[key].count, alerts_path + "?name_q=#{d.device_name}&msg_q=misfeed&commit=Find", :title => @misfeed[key].empty? ? '' : @misfeed[key].last.alert_date.to_formatted_s(:db) -%></td>
    <td class='right-justify'>
      <%= link_to_unless @paper[key].empty?, @paper[key].count, alerts_path + "?name_q=#{d.device_name}&msg_q=paper&commit=Find", :title => @paper[key].empty? ? '' : @paper[key].last.alert_date.to_formatted_s(:db) -%></td>
    <td class='right-justify'>
      <%= link_to_unless @toner_low[key].empty?, @toner_low[key].count, alerts_path + "?name_q=#{d.device_name}&msg_q=toner supply&commit=Find", :title => @toner_low[key].empty? ? '' : @toner_low[key].last.alert_date.to_formatted_s(:db) -%></td>
    <td class='right-justify'>
      <%= link_to_unless @toner_out[key].empty?, @toner_out[key].count, alerts_path + "?name_q=#{d.device_name}&msg_q=add toner&commit=Find", :title => @toner_out[key].empty? ? '' : @toner_out[key].last.alert_date.to_formatted_s(:db) -%></td>
    <td class='right-justify'>
      <%= link_to_unless @waste_warn[key].empty?, @waste_warn[key].count, alerts_path + "?name_q=#{d.device_name}&msg_q=replacement&commit=Find", :title => @waste_warn[key].empty? ? '' : @waste_warn[key].last.alert_date.to_formatted_s(:db) -%></td>
    <td class='right-justify'>
      <%= link_to_unless @waste_full[key].empty?, @waste_full[key].count, alerts_path + "?name_q=#{d.device_name}&msg_q=replace used toner&commit=Find", :title => @waste_full[key].empty? ? '' : @waste_full[key].last.alert_date.to_formatted_s(:db) -%></td>
    <td class='right-justify'>
      <%= link_to_unless @service[key].empty?, @service[key].count, alerts_path + "?name_q=#{d.device_name}&msg_q=service&commit=Find", :title => @service[key].empty? ? '' : @service[key].last.alert_date.to_formatted_s(:db) -%></td>
    <td class='right-justify'>
      <%= link_to_unless @maint[key].empty?, @maint[key].count, alerts_path + "?name_q=#{d.device_name}&msg_q=maintenance&commit=Find", :title => @maint[key].empty? ? '' : @maint[key].last.alert_date.to_formatted_s(:db) -%></td>
  </tr>
  <% end %>
</table>

<br />
<table class="list">
  <tr>
    <th colspan=9>Alerts by Model</th>
  </tr>
  <tr>
    <th>Model</th>
    <th>Paper Out</th>
    <th>Misfeed</th>
    <th>Toner Low</th>
    <th>Toner Out</th>
    <th>Waste Warn</th>
    <th>Waste Full</th>
    <th>Service</th>
    <th>Maintenance</th>
  </tr>
  <% @devices_by_model.each do |d| %>
  <%   dev_count = @count_by_model[d.device_model] %>
  <tr class="<%= cycle('light','dark') -%>">
    <td>
      <%= link_to h(d.device_model), alerts_path + "?model_q=#{d.device_model}&commit=Find", :title => "Click to view all alerts for this model" -%> (<%= dev_count -%>)</td>
    <td class='right-justify'>
      <%= link_to_unless @paper[d.device_model].empty?, @paper[d.device_model].count, alerts_path + "?model_q=#{d.device_model}&msg_q=paper&commit=Find", :title => @paper[d.device_model].empty? ? '' : "#{@paper[d.device_model].last.alert_date.to_formatted_s(:db)} from #{@paper[d.device_model].last.device_name}" -%> (<%= (@paper[d.device_model].count.to_f / dev_count).round(1) -%>)</td>
    <td class='right-justify'>
      <%= link_to_unless @misfeed[d.device_model].empty?, @misfeed[d.device_model].count, alerts_path + "?model_q=#{d.device_model}&msg_q=misfeed&commit=Find", :title => @misfeed[d.device_model].empty? ? '' : "#{@misfeed[d.device_model].last.alert_date.to_formatted_s(:db)} from #{@misfeed[d.device_model].last.device_name}" -%> (<%= (@misfeed[d.device_model].count.to_f / dev_count).round(1) -%>)</td>
    <td class='right-justify'>
      <%= link_to_unless @toner_low[d.device_model].empty?, @toner_low[d.device_model].count, alerts_path + "?model_q=#{d.device_model}&msg_q=toner supply&commit=Find", :title => @toner_low[d.device_model].empty? ? '' : "#{@toner_low[d.device_model].last.alert_date.to_formatted_s(:db)} from #{@toner_low[d.device_model].last.device_name}" -%> (<%= (@toner_low[d.device_model].count.to_f / dev_count).round(1) -%>)</td>
    <td class='right-justify'>
      <%= link_to_unless @toner_out[d.device_model].empty?, @toner_out[d.device_model].count, alerts_path + "?model_q=#{d.device_model}&msg_q=add toner&commit=Find", :title => @toner_out[d.device_model].empty? ? '' : "#{@toner_out[d.device_model].last.alert_date.to_formatted_s(:db)} from #{@toner_out[d.device_model].last.device_name}" -%> (<%= (@toner_out[d.device_model].count.to_f / dev_count).round(1) -%>)</td>
    <td class='right-justify'>
      <%= link_to_unless @waste_warn[d.device_model].empty?, @waste_warn[d.device_model].count, alerts_path + "?model_q=#{d.device_model}&msg_q=replacement&commit=Find", :title => @waste_warn[d.device_model].empty? ? '' : "#{@waste_warn[d.device_model].last.alert_date.to_formatted_s(:db)} from #{@waste_warn[d.device_model].last.device_name}" -%> (<%= (@waste_warn[d.device_model].count.to_f / dev_count).round(1) -%>)</td>
    <td class='right-justify'>
      <%= link_to_unless @waste_full[d.device_model].empty?, @waste_full[d.device_model].count, alerts_path + "?model_q=#{d.device_model}&msg_q=replace used toner&commit=Find", :title => @waste_full[d.device_model].empty? ? '' : "#{@waste_full[d.device_model].last.alert_date.to_formatted_s(:db)} from #{@waste_full[d.device_model].last.device_name}" -%> (<%= (@waste_full[d.device_model].count.to_f / dev_count).round(1) -%>)</td>
    <td class='right-justify'>
      <%= link_to_unless @service[d.device_model].empty?, @service[d.device_model].count, alerts_path + "?model_q=#{d.device_model}&msg_q=service&commit=Find", :title => @service[d.device_model].empty? ? '' : "#{@service[d.device_model].last.alert_date.to_formatted_s(:db)} from #{@service[d.device_model].last.device_name}" -%> (<%= (@service[d.device_model].count.to_f / dev_count).round(1) -%>)</td>
    <td class='right-justify'>
      <%= link_to_unless @maint[d.device_model].empty?, @maint[d.device_model].count, alerts_path + "?model_q=#{d.device_model}&msg_q=maintenance&commit=Find", :title => @maint[d.device_model].empty? ? '' : "#{@maint[d.device_model].last.alert_date.to_formatted_s(:db)} from #{@maint[d.device_model].last.device_name}" -%> (<%= (@maint[d.device_model].count.to_f / dev_count).round(1) -%>)</td>
    </tr>
<% end %>
</table>