<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Alert message from <%=h @alert.device.name -%></h2>
    <table style="border: 0; padding: .1em .5em; width: 80%">
    <tr>
      <td>Date:</td><td><strong><%=h @alert.alert_date.to_formatted_s(:db) -%></strong></td>
    </tr>
    <tr>
    <td>Device:</td><td><strong><%=h link_to @alert.device.name, "http://seclcsglab.sharpamericas.com" + edit_notify_control_path(@n) -%></strong></td>
    </tr>
    <tr>
      <td>Model:</td><td><strong><%=h @alert.device.model -%></strong></td>
    </tr>
    <tr>
      <td>Serial #:</td><td><strong><%=h @alert.device.serial -%></strong></td>
    </tr>
    <tr>
      <td>Machine Code:</td><td><strong><%=h @alert.device.code -%></strong></td>
    </tr>
    <tr>
      <td>Message:</td><td><strong><%=h @alert.alert_msg -%></strong></td>
    </tr>
    </table>
    <br />
    <% if not @last_sent.nil? and @num_past_alerts > 0 %>
    <p>NOTE: Since the last notice (<%= @last_sent.to_formatted_s(:db) -%>) there have been <strong><%= @num_past_alerts -%></strong> alerts for this condition.</p><br />
    <% end %>
    <p>NOTE: You can click <a href="mailto:dha@sharpsec.com?subject=Request:name_q=<%=h @alert.device.name -%>&model_q=<%=h @alert.device.model -%>&serial_q=<%=h @alert.device.serial -%>">here</a> to have past alerts for this device emailed to you as a .csv file.</p>
  </body>
</html>