<h1><%= @msg_q.nil? ? '' : @msg_q.titleize %> Frequency Report</h1>

<div class="searchform">
<%= form_tag report_frequency_url, :method => 'get' do %>
<table><tr>
  <td>
    <%= label_tag 'Days (1 to 30)' %><br />
    <%= number_field_tag 'days', @days, in: 1...30 %>
  </td>
  <td>
    <%= label_tag 'Device Name' %><br />
    <%= text_field_tag 'name_q', @name_q, :size => 10, :placeholder => 'Device Name' %>
  </td>
  <td>
    <%= label_tag 'Model' %><br />
    <%= text_field_tag 'model_q', @model_q, :size => 10, :placeholder => 'Model' %>
  </td>
  <td>
    <%= label_tag 'Serial Number' %><br />
    <%= text_field_tag 'serial_q', @serial_q, :size => 10, :placeholder => 'Serial #' %>
  </td>
  <td>
    <%= label_tag 'Machine Code' %><br />
    <%= text_field_tag 'code_q', @code_q, :size => 10, :placeholder => 'Code' %>
  </td>
  <td>
    <%= label_tag 'Client Name' %><br />
    <%= collection_select :client, :name, Client.all, :name, :name, :include_blank => 'All' %>
  </td>
  <td>
    <%= label_tag 'Alert Message' %><br />
    <%= select_tag :msg_q, options_for_select([['Misfeed', 'Misfeed'],
                                               ['Service', 'Service'],
                                               ['Maintenance', 'Maintenance Required'],
                                               ['Load Paper', 'Load Paper'],
                                               ['Add Toner', 'Add Toner'],
                                               ['Toner Low', 'Toner Supply'],
                                               ['Waste Toner Warning', 'Replace used toner'],
                                               ['Waste Toner Full', 'Replacement the toner']], @msg_q) %>
  </td>
  <td>
    <%= submit_tag 'Find' -%>
  </td>
  </tr>
</table>
<% end %>
</div>

<table>
  <tr>
    <th>Device</th>
    <% for date in @dates %>
      <th><%= date.to_s %></th>
    <% end %>
  </tr>
  <% for dev_id in @devices %>
    <tr class="<%= cycle('light','dark') %>">
    <% dev = Device.find(dev_id) %>
    <td><%= link_to dev.name, alerts_path + "?msg_q=#{@msg_q}&model_q=#{dev.model}&serial_q=#{dev.serial}&commit=", :title => "#{dev.model}, #{dev.serial}, #{dev.code}" %></td>
    <% for date in @dates %>
      <td><%= @alert_counts[[dev_id,date]].nil? ? '' : link_to(@alert_counts[[dev_id,date]], alerts_path + "?msg_q=#{@msg_q}&date_q=#{date}&model_q=#{dev.model}&serial_q=#{dev.serial}&commit=", :title => "View these alerts") %></td>
    <% end %>
    </tr>
  <% end %>
</table>