<% title @title %>
Model: <strong><%= @dev.model %></strong><br />
Serial#: <strong><%= @dev.serial %></strong><br />
Code: <strong><%= @dev.code %></strong><br />
<br />

<%= form_tag @uri, :method => 'get' do -%>
Show only alerts for the last 
  <%= select_tag :days, options_for_select([['30 Days', 30],
                                            ['60 Days', 60],
                                            ['90 Days', 90],
                                            ['120 Days', 120]], @days),
                                            include_blank: true -%>
  <%= submit_tag "Go" %>
<% end %>          
                                         
<p>
The data within each cell consist of the time (in days, hours, min, and seconds), followed by the number of pages output since the last alert for that code.</p>

<table class="counters">
  <tr><th rowspan=2>Alert Date</th><th colspan=<%= @codes.length %>>Service Codes</th></tr>

  <tr>
  <% @codes.each do |c| %>
    <th><%= c %></th>
  <% end %>
  </tr>

<% @data.each do |date,val| %>
  <tr class="<%= cycle('light','dark') %>">
    <td><%= date.to_formatted_s(:db) %></td>
  <% @codes.each do |c| %>
    <% unless (val[c].nil?) %>
      <td><span title="Code <%= c %>"><%= date_time_diff(val[c]['d_date']) %><br />
      <%= number_with_delimiter(val[c]['d_page']) %></span></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
  <% end %>
  </tr>
<% end %>
    
</table>