<h1>Special Reports</h1>

<div> <!-- Alert Frequency -->
<%= form_tag report_frequency_path, :method => 'get' do %>
<fieldset>
  <legend>Alert Frequency Report</legend>
  <p>
  This special report shows the number of alerts per day for selected devices. The devices can be selected by name, model, serial number, machine code, or client. Where you can enter text (e.g. name, model, etc) you do not need to enter an exact match.</p>
<table><tr>
  <td>
    <%= label_tag 'Days (1 to 30)' %><br />
    <%= number_field_tag 'days', @days, in: 1...30 %>
  </td>
  <td>
    <%= label_tag 'Device Name' %><br />
    <%= text_field_tag 'name_q', @name_q, :size => 10, :placeholder => 'Device Name' %>
  </td>
  <td>
    <%= label_tag 'Model' %><br />
    <%= text_field_tag 'model_q', @model_q, :size => 10, :placeholder => 'Model' %>
  </td>
  <td>
    <%= label_tag 'Serial Number' %><br />
    <%= text_field_tag 'serial_q', @serial_q, :size => 10, :placeholder => 'Serial #' %>
  </td>
  <td>
    <%= label_tag 'Machine Code' %><br />
    <%= text_field_tag 'code_q', @code_q, :size => 10, :placeholder => 'Code' %>
  </td>
  <td>
    <%= label_tag 'Client Name' %><br />
    <%= collection_select :client, :name, Client.all, :name, :name, :include_blank => 'All' %>
  </td>
  <td>
    <%= label_tag 'Alert Message' %><br />
    <%= select_tag :msg_q, options_for_select([['Misfeed', 'Misfeed'],
                                               ['Service', 'Service'],
                                               ['Maintenance', 'Maintenance Required'],
                                               ['Load Paper', 'Load Paper'],
                                               ['Add Toner', 'Add Toner'],
                                               ['Toner Low', 'Toner Supply'],
                                               ['Waste Toner Warning', 'Replace used toner'],
                                               ['Waste Toner Full', 'Replacement the toner']], @msg_q) %>
  </td>
  <td>
    <%= submit_tag 'Find' -%>
  </td>
  </tr>
</table>
</fieldset>
<% end %>
</div>

<div> <!-- High Print Volume -->
  <%= form_tag report_volume_path, :method => 'get' do -%>
    <fieldset>
    <legend>High Print Volume Report</legend>
    <p>This special report shows volume summaries for devices whose usage exceed recommended volumes.</p>
    <table><tr>
      <td>
        <%= label_tag 'Days' %><br />
        <%= select_tag :days, options_for_select([['30 Days', 30],
                                                  ['60 Days', 60],
                                                  ['90 Days', 90]], @days) -%>
      </td>
      <td>
        <%= label_tag 'Device Name' %><br />
        <%= text_field_tag 'name_q', @name_q, :size => 10 -%>
      </td>
      <td>
        <%= label_tag 'Client Name' %><br />
        <%= collection_select :client, :name, Client.order('name'), :name, :name, :include_blank => 'All' %>
      </td>
      <td><%= submit_tag 'Find' -%></td>
    </tr>
    </table>
    </fieldset>
  <% end %>
</div>

<div> <!-- Graph Misfeed, Maintenance and Service alerts by day -->
  <%= form_tag report_alerts_graph_url, :method => 'get' do -%>
    <fieldset>
    <legend>Graph Misfeed, Maintenance and Service alerts</legend>
    <p>This report graphs the number of daily <strong>misfeed</strong>, <strong>maintenance requests</strong> and <strong>service</strong> alerts over the past 30, 60 or 90 days on one chart. Easier to see if there is a corrolation.</p>
    <table><tr>
      <td>
        <%= select_tag :days, options_for_select([['30 Days', 30],
                                                  ['60 Days', 60],
                                                  ['90 Days', 90]], @days) -%>
      </td>
      <td>
        <%= label_tag 'Device' %><br />
        <%= collection_select :device, :id, Device.order('name'), :id, :name_model_serial %>
      </td>
      <td><%= submit_tag 'Graph' %></td>
    </tr></table>
    </fieldset>
  <% end %>
</div>

<div> <!-- Misfeed type frequency per device -->
  <%= form_tag jam_code_stats_report_path, :method => 'get' do -%>
    <fieldset>
    <legend>Frequency of misfeed alerts</legend>
    <p>The Frequency report provides an overview of the number of misfeed codes each device has reports.</p>
    <p>The Detail report shows, for a specific device, the B/W and Colour counters when the alert as reported as well as the difference in counter values and time between successive alerts.</p>
    <table><tr>
      <td>
        <%= select_tag :days, options_for_select([['30 Days', 30],
                                                  ['60 Days', 60],
                                                  ['90 Days', 90]], @days) -%>
      </td>
      <td>
        <%= submit_tag '->Go' -%>
      </td>
    </tr></table>
    </fieldset>
  <% end %>
</div>

<div> <!-- Drum and Developer Age -->
  <fieldset>
    <legend>Drum and Developer Age</legend>
    <p>
    Report the age (in percent) of all drum and developer units. This is based on the dealer attachments sent as part of any alert, if enabled.
    </p>
    <p>The <strong>Highlight Threshold</strong> determines whether the values will be highlighted. If any of the values are above this threshold, the record will be highlighted.
    </p>
    <%= form_tag drum_dev_age_report_path, :method => 'get' do %>
      <%= label_tag "Highlight Threshold: " %>
      <%= number_field_tag 'h_thresh', @h_thresh, in: 1...100 %>
      &nbsp;
      <%= submit_tag 'Show' %>
    <% end %>
  </fieldset>
</div>

