<h1>Jam Code <%= JamCode.xlate(@jam) %> History for <%= link_to @dev.name, device_path(@dev) %></h1>
Model: <strong><%= @dev.model %></strong><br />
Serial#: <strong><%= @dev.serial %></strong><br />
<br />
<%= form_tag @uri, :method => 'get' do -%>
  <%= select_tag :days, options_for_select([['30 Days', 30],
                                            ['60 Days', 60],
                                            ['90 Days', 90]], @days) -%>
  <%= submit_tag "Go" %>
<% end %>          
<table class='counters'>
<tr>
  <th>Alert Date</th><th>Date Diff</th>
  <th>B/W Count</th><th>B/W diff</th>
  <th>Color Count</th><th>Color Diff</th>
</tr>
<% for i in 0..@data['date'].length-1 %>
  <tr class='<%= cycle('light','dark') %>'>
    <td><%= @data['date'][i].to_formatted_s(:db) %></td>
    <td><%= @data['date_diff'][i] %></td>
    <td><%= number_with_delimiter(@data['bw_count'][i]) %></td>
    <td><%= number_with_delimiter(@data['bw_diff'][i]) %></td>
    <td><%= number_with_delimiter(@data['c_count'][i]) %></td>
    <td><%= number_with_delimiter(@data['c_diff'][i]) %></td>
  </tr>
<% end %>
</table>