<h1>Toner Alert History for <%= @dev.name %></h1>
<!-- 
# @alerts is array of Alert objects where alert_msg contains "toner supply is low"
-->
Model: <strong><%= @dev.model %></strong><br />
Serial#: <strong><%= @dev.serial %></strong><br />
<br />
<table class='counters'>
<caption>Based on "Toner Supply is Low" alerts</caption>
<tr>
  <th rowspan=2>Alert Date</th>
  <th colspan=2>Black</th>
  <th colspan=2>Cyan</th>
  <th colspan=2>Magenta</th>
  <th colspan=2>Yellow</th>
</tr>
<tr>
  <th>Date diff</th><th>B/W Diff</th>
  <th>Date diff</th><th>Color Diff</th>
  <th>Date diff</th><th>Color Diff</th>
  <th>Date diff</th><th>Color Diff</th>
</tr>

<% 
  @toner_low.keys.sort.each do |d|
    bkgrd = cycle('light','dark')
%>
    <tr class='<%= bkgrd %>'>
      <td><%= d %></td>
<%
    for c in ['Bk','C','M','Y'] 
      if (@toner_low[d][c].nil?) 
%>
      <td>&nbsp;</td><td>&nbsp;</td>
<%
      else
        for v in ['date_diff','page_diff']
          disp_val = @toner_low[d][c][v].nil? ? ' ' : @toner_low[d][c][v].to_i
%>
          <td><%= disp_val %></td>
<%
        end
      end  
    end %>
    </tr>
<% end %>
</table>

<br />
<table class='counters'>
<caption>Based on "Add Toner" alerts</caption>
<tr>
<th rowspan=2>Alert Date</th>
<th colspan=2>Black</th>
<th colspan=2>Cyan</th>
<th colspan=2>Magenta</th>
<th colspan=2>Yellow</th>
</tr>
<tr>
<th>Date diff</th><th>B/W Diff</th>
<th>Date diff</th><th>Color Diff</th>
<th>Date diff</th><th>Color Diff</th>
<th>Date diff</th><th>Color Diff</th>
</tr>

<% 
@toner_out.keys.sort.each do |d|
bkgrd = cycle('light','dark')
%>
<tr class='<%= bkgrd %>'>
<td><%= d %></td>
<%
for c in ['Bk','C','M','Y'] 
  if (@toner_out[d][c].nil?) 
%>
  <td>&nbsp;</td><td>&nbsp;</td>
<%
  else
    for v in ['date_diff','page_diff']
      disp_val = @toner_out[d][c][v].nil? ? ' ' : @toner_out[d][c][v].to_i
%>
      <td><%= disp_val %></td>
<%
    end
  end  
end %>
</tr>
<% end %>
</table>