<h1>Toner Usage Analysis for <%= @dev.name %></h1>
<!-- 
# @alerts is array of Alert objects where alert_msg contains "toner supply is low"
-->
Model: <strong><%= @dev.model %></strong><br />
Serial#: <strong><%= @dev.serial %></strong><br />
<br />
<table class='counters'>
<caption>Toner Low alerts are in <span class=toner_low>this</span> colour; Add Toner alerts are in <span class=toner_out>this.</span></caption>
<tr>
  <th rowspan=2>Alert Date</th>
  <th colspan=2>Black</th>
  <th colspan=2>Cyan</th>
  <th colspan=2>Magenta</th>
  <th colspan=2>Yellow</th>
</tr>
<tr>
  <th>Date diff</th><th>B/W Diff</th>
  <th>Date diff</th><th>Color Diff</th>
  <th>Date diff</th><th>Color Diff</th>
  <th>Date diff</th><th>Color Diff</th>
</tr>

<% 
  @toner_alerts.each do |alert|
    bkgrd = cycle('light','dark')
    d = alert.keys[0]
    css_class = alert[d]['type']
%>
    <tr class='<%= bkgrd %>'>
      <td><%= d %></td>
<%
    for c in ['Bk','C','M','Y'] 
      if (alert[d][c].nil?) 
%>
      <td>&nbsp;</td><td>&nbsp;</td>
<%
      else
        for v in ['date_diff','page_diff']
          unless alert[d][c][v].nil?
            disp_val = alert[d][c][v]
          else
            disp_val = ''
          end
%>
          <td class=<%= css_class %>><%= disp_val %></td>
<%
        end
      end  
    end %>
    </tr>
<% end %>
</table>

