<% title @title %>
<!-- 
# TODO Display appropriate fields once we figure out the controller
-->
Model: <strong><%= @dev.model %></strong><br />
Serial#: <strong><%= @dev.serial %></strong><br />
<br />
<%= form_tag @uri, :method => 'get' do -%>
  <%= select_tag :days, options_for_select([['30 Days', 30],
                                            ['60 Days', 60],
                                            ['90 Days', 90]], @days) -%>
  <%= submit_tag "Go" %>
<% end %>          
<table class='counters'>
<tr>
  <th>Alert Date</th><th>Date Diff</th>
  <th>B/W Count</th><th>B/W diff</th>
  <th>Color Count</th><th>Color Diff</th>
</tr>
<tr class='dark'>
  <td><%= @alerts[0].alert_date.to_formatted_s(:db) %></td>
  <td>&nbsp;</td>
  <td><%= number_with_delimiter(@alerts[0].sheet_count.bw) %></td>
  <td>&nbsp;</td>
  <td><%= number_with_delimiter(@alerts[0].sheet_count.color) %></td>
  <td>&nbsp;</td>
</tr>
<% for i in 1...@alerts.length %>
  <tr class='<%= cycle('light','dark') %>'>
    <td><%= @alerts[i].alert_date.to_formatted_s(:db) %></td>
    <%
      diff = @alerts[i].alert_date - @alerts[i-1].alert_date
      d,h,m,s = diff/86400, diff%86400/3600, diff%3600/60, diff%60
    %>
    <td><%= "#{d.to_i}day, #{"%02d" % h}:#{"%02d" % m}:#{"%02d" % s}" %></td>
    <td><%= number_with_delimiter(@alerts[i].sheet_count.bw) %></td>
    <td><%= number_with_delimiter(@alerts[i].sheet_count.bw -
                                  @alerts[i-1].sheet_count.bw) %></td>
    <td><%= number_with_delimiter(@alerts[i].sheet_count.color) %></td>
    <td><%= number_with_delimiter(@alerts[i].sheet_count.color -
                                  @alerts[i-1].sheet_count.color) %></td>
  </tr>
<% end %>
</table>