<%= form_for @service_code do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :alert_id %><br />
    <%= f.number_field :alert_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
