<% title "Counter" %>

<p>
  <strong>Status Date:</strong>
  <%= @counter.status_date %>
</p>
<p>
  <strong>Copybw:</strong>
  <%= @counter.copybw %>
</p>
<p>
  <strong>Copy2c:</strong>
  <%= @counter.copy2c %>
</p>
<p>
  <strong>Copy1c:</strong>
  <%= @counter.copy1c %>
</p>
<p>
  <strong>Copyfc:</strong>
  <%= @counter.copyfc %>
</p>
<p>
  <strong>Printbw:</strong>
  <%= @counter.printbw %>
</p>
<p>
  <strong>Printfc:</strong>
  <%= @counter.printfc %>
</p>
<p>
  <strong>Totalprintbw:</strong>
  <%= @counter.totalprintbw %>
</p>
<p>
  <strong>Totalprint2c:</strong>
  <%= @counter.totalprint2c %>
</p>
<p>
  <strong>Totalprint1c:</strong>
  <%= @counter.totalprint1c %>
</p>
<p>
  <strong>Totalprintc:</strong>
  <%= @counter.totalprintc %>
</p>
<p>
  <strong>Scanbw:</strong>
  <%= @counter.scanbw %>
</p>
<p>
  <strong>Scan2c:</strong>
  <%= @counter.scan2c %>
</p>
<p>
  <strong>Scan1c:</strong>
  <%= @counter.scan1c %>
</p>
<p>
  <strong>Scanfc:</strong>
  <%= @counter.scanfc %>
</p>
<p>
  <strong>Fileprintbw:</strong>
  <%= @counter.fileprintbw %>
</p>
<p>
  <strong>Fileprint2c:</strong>
  <%= @counter.fileprint2c %>
</p>
<p>
  <strong>Fileprint1c:</strong>
  <%= @counter.fileprint1c %>
</p>
<p>
  <strong>Fileprintfc:</strong>
  <%= @counter.fileprintfc %>
</p>
<p>
  <strong>Faxin:</strong>
  <%= @counter.faxin %>
</p>
<p>
  <strong>Faxinline1:</strong>
  <%= @counter.faxinline1 %>
</p>
<p>
  <strong>Faxinline3:</strong>
  <%= @counter.faxinline3 %>
</p>
<p>
  <strong>Otherprintbw:</strong>
  <%= @counter.otherprintbw %>
</p>
<p>
  <strong>Otherprintc:</strong>
  <%= @counter.otherprintc %>
</p>
<p>
  <strong>Faxout:</strong>
  <%= @counter.faxout %>
</p>
<p>
  <strong>Faxoutline1:</strong>
  <%= @counter.faxoutline1 %>
</p>
<p>
  <strong>Faxoutline2:</strong>
  <%= @counter.faxoutline2 %>
</p>
<p>
  <strong>Faxoutline3:</strong>
  <%= @counter.faxoutline3 %>
</p>
<p>
  <strong>Hddscanbw:</strong>
  <%= @counter.hddscanbw %>
</p>
<p>
  <strong>Hddscan2c:</strong>
  <%= @counter.hddscan2c %>
</p>
<p>
  <strong>Hddscan1c:</strong>
  <%= @counter.hddscan1c %>
</p>
<p>
  <strong>Hddscanfc:</strong>
  <%= @counter.hddscanfc %>
</p>
<p>
  <strong>Tonerbkin:</strong>
  <%= @counter.tonerbkin %>
</p>
<p>
  <strong>Tonercin:</strong>
  <%= @counter.tonercin %>
</p>
<p>
  <strong>Tonermin:</strong>
  <%= @counter.tonermin %>
</p>
<p>
  <strong>Toneryin:</strong>
  <%= @counter.toneryin %>
</p>
<p>
  <strong>Tonernnendbk:</strong>
  <%= @counter.tonernnendbk %>
</p>
<p>
  <strong>Tonernnendc:</strong>
  <%= @counter.tonernnendc %>
</p>
<p>
  <strong>Tonernnendm:</strong>
  <%= @counter.tonernnendm %>
</p>
<p>
  <strong>Tonernnendy:</strong>
  <%= @counter.tonernnendy %>
</p>
<p>
  <strong>Tonerendbk:</strong>
  <%= @counter.tonerendbk %>
</p>
<p>
  <strong>Tonerendc:</strong>
  <%= @counter.tonerendc %>
</p>
<p>
  <strong>Tonerendm:</strong>
  <%= @counter.tonerendm %>
</p>
<p>
  <strong>Tonerendy:</strong>
  <%= @counter.tonerendy %>
</p>
<p>
  <strong>Tonerleftbk:</strong>
  <%= @counter.tonerleftbk %>
</p>
<p>
  <strong>Tonerleftc:</strong>
  <%= @counter.tonerleftc %>
</p>
<p>
  <strong>Tonerleftm:</strong>
  <%= @counter.tonerleftm %>
</p>
<p>
  <strong>Tonerlefty:</strong>
  <%= @counter.tonerlefty %>
</p>

<p>
  <%= link_to "Edit", edit_counter_path(@counter) %> |
  <%= link_to "Destroy", @counter, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", counters_path %>
</p>
